:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-color: #2f303a;
}

header {
  background: var(--white-color);
}

body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

footer {
  background: var(--footer-color);
}

address {
  font-style: normal;

  line-height: 1.71;
}

/* Logo */

.logo-header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--accent-color);

  text-decoration: none;
}

.logo-black {
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-text-color);

  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo-white {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--white-color);
  text-decoration: none;
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--accent-color);
  text-decoration: none;
}

/* List */

.list {
  list-style: none;
}

/* Site nav */
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link {
  text-decoration: none;
  color: var(--secondary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contact .link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--footer-color);
}

.hero-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  letter-spacing: 0.06em;
}

.button-center {
  /* Заказать услугу */

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
}

/* Features */

.features .title {
  color: var(--secondary-text-color);

  font-size: 36px;
  line-height: 1.16;

  letter-spacing: 0.03em;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.features .text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

/* Work */

.work .title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* Team */

.team {
  background-color: var(--secondary-background-color);
}

.team .title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.team .text {
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
}

/* Button */
.button {
  cursor: pointer;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  border-radius: 4px;

  text-align: center;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
}
.button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-background-color);
}
.button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-background-color);
}

.button.marketing:hover,
.button.marketing:focus,
.button.design:hover,
.button.design:focus,
.button.app:hover,
.button.app:focus,
.button.site:hover,
.button.site:focus,
.button.all:hover,
.button.all:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters .button {
  font-family: "Roboto";

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
  border: none;
}

/* Projects */

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.portfolio-title,
.features .title,
.projects-title,
.filters .title {
  visibility: hidden;
}

p {
  line-height: 1.87;

  letter-spacing: 0.03em;
}

/* Footer */
/* Links */
.map {
  color: var(--white-color);
  text-decoration: none;
}
.address .map:hover,
.address .map:focus {
  color: var(--accent-color);
}

.address .link {
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.project-cards a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.project-cards a:hover,
.project-cards a:focus {
  color: var(--accent-color);
}
